{
  "discord_bot_token": "NTM4MTI1ODQ0OTU1MDA0OTM4.DyvgOQ.gFA2dyIbF-Q1sO7J1Su1IAafDnQ",
  "discord_channel_id": "123456789",
  "invoice_id": 123,
  "mtxserv_client_id": "538125844955004938",
  "mtxserv_client_secret": "MDnzCI0Pq939YiMj8Z5QhCSqdt_DRKl0",
  "mtxserv_api_key": "B19A6CFB1785D932643FBFDD706C9354"
}
